*{
    background-color: #e3e0cf;
    color: black;
}
.navbar {
    width: 100%;
    overflow: auto;
  }
  
  .navbar a {
    float: left;
    padding: 12px;
    text-decoration: none;
    font-size: 17px;
    width: 25%;
    text-align: center; 
  }
  
  .navbar a:hover {
    background-color: rebeccapurple;
  }
  
  .navbar a.active {
  }
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left;
    }
  }