*{
  color: black;
}
body{
/*background-image: url("./Assets/Images/paul-green-4BmPrbvvj74-unsplash.jpg"); */
align-items: center;
padding-left: 50px;
}  
.navbar {
    width: 100%;
    overflow: auto;
  }
  
  .navbar a {
    float: left;
    padding: 12px;
    text-decoration: none;
    font-size: 17px;
    width: 25%;
    text-align: center; 
  }
  
  .navbar a:hover {
    background-color: rebeccapurple;
  }
  
  .navbar a.active {
      color: green;
      font-weight: bold;
      font-size: larger;
  }
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left;
    }
  }
  .tagLine h1,span{
    color: aqua;
  }
  .card {
    color: white;
    float: left;
    width: calc(25% - 20px);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    height: 400px;
    border:1px solid #c4c4c4;

 }
 .card p {
    font-size: 18px;
 }
 .cardContainer:after {
    content: "";
    display: table;
    clear: both;
 }
 @media screen and (max-width: 600px) {
    .card {
       width: 100%;
    } 
 }
ol li{
  font-size: larger;
}
ol li a{
  background-color: aqua;
}
  form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
  }
  

